
@media only screen and (min-width: 601px) {
  nav {
    top: 0;
    border-radius: 0 0 50% 50%;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web";
  margin: 0; */
  padding: 0;
  height: 100%;
}

.hero {
  background-image: url("../img/eric-start-1-DE-scaled.jpeg");
  background-size: cover;
  background-position: center;
  height: 100svh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text {
  font-family: "Titillium Web";
  font-weight: 100;
  letter-spacing: 3px;
  position: absolute;
  text-align: right;
  right: 20px;
}

.hero-text h1,
.hero-text h2 {
  margin: 0;
}

.hero-text h1 {
  letter-spacing: 8px;
  font-size: 55px;
  color: #fde3a8;
}

.hero-text h2 {
  color: #fff;
}

.nav-selection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: max(70vw, 350px);
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.56);
}

.nav-link {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-decoration: none;
  padding: 9px 24px;
  border-radius: 10% / 50%;
  cursor: pointer;
  border: none;
}
/* .lang-button {
  font-family: "RomanIonic";
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 12px 24px;
  border-radius: 10% / 50%;
  cursor: pointer;
  border: none;
} */

/* .de-link,
.en-link,
.fr-link {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 10% / 50%;
  cursor: pointer;
  border: none;
} */

/* .lang-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
} */


/* .de-link:hover,
.en-link:hover,
.fr-link:hover {
  background-color: rgba(0, 0, 0, 0.6);
/* } */

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.works {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: center;
  font-size: 50px;
}

.categories {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.dropbtn {
  font-family: "RomanIonic";
  font-size: 40px;
  width: 100%;
  flex: 1;
  padding: 0;
  /* border: none; */
}

.dropdown-content {
  overflow: hidden;
  display: none;
  flex: 1;
}

.dropdown-content.show {
  display: block;
  max-height: 300px;
  transition: max-height 0.3s ease-in;
}

.show {
  display: block;
}

.hide {
  display: none;
  transition: max-height 0.3s ease-out;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}


section {
  height: 80svh;
}

