@import url("../fonts/RomanIonic.ttf");

@font-face {
  font-family: "RomanIonic";
  src: url("../fonts/RomanIonic.ttf");
}

body {
  font-family: "RomanIonic";
  margin: 0;
  padding: 0;
  height: 100%;
}

.hero {
  background-image: url("../img/eric-start-1-DE-scaled.jpeg");
  background-size: cover;
  background-position: center;
  height: 100svh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text {
  font-family: "RomanIonic";
  /* font-family: Arial, Helvetica, sans-serif;
  font-family: "Arial Narrow", sans-serif; */
  font-weight: 100;
  letter-spacing: 3px;
  position: absolute;
  text-align: right;
  right: 20px;
}

.hero-text h1,
.hero-text h2 {
  margin: 0; /* Reset margin to remove default spacing */
}

.hero-text h1 {
  letter-spacing: 8px;
  font-size: 55px;
  color: #fde3a8;
}

.hero-text h2 {
  color: #fff;
}

.language-selection {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 150px;
  z-index: 999;
  gap: 20px;
  width: 70%;
}

.lang-button {
  font-family: "RomanIonic";
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 12px 24px;
  border-radius: 10% / 50%;
  cursor: pointer;
  border: none;
}

.de-link {
  display: none;
  font-family: "RomanIonic";
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 10% / 50%;
  cursor: pointer;
  border: none;
}

.en-link {
  display: none;
  font-family: "RomanIonic";
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 10% / 50%;
  cursor: pointer;
  border: none;
}

.fr-link {
  display: none;
  font-family: "RomanIonic";
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 10% / 50%;
  cursor: pointer;
  border: none;
}

.lang-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.works {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: center;
  font-size: 50px;
}

.categories {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.dropbtn {
  font-family: "RomanIonic";
  font-size: 40px;
  width: 100%;
  flex: 1;
  padding: 0;
  /* border: none; */
}

.dropdown-content {
  overflow: hidden;
  display: none;
  flex: 1;
}

.dropdown-content.show {
  display: block;
  max-height: 300px;
  transition: max-height 0.3s ease-in;
}

.show {
  display: block;
}

.hide {
  display: none;
  transition: max-height 0.3s ease-out;
}
